<div class="card-body mt-0" *ngIf="paymentProviders">
  <h3>All Payment Providers</h3>
  <table class="table table-bordered table-responsive text-center">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Payment Item</th>
        <th>Category</th>
        <th>Is Deleted?</th>
        <th>Is Active?</th>
        <th>Short Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of paymentProviders">
        <td>{{ provider.paymentId }}</td>
        <td>{{ provider.name }}</td>
        <td>{{ provider.paymentItemId }}</td>
        <td>{{ provider.category }}</td>
        <td>{{ provider.isDeleted }}</td>
        <td>{{ provider.isActive }}</td>
        <td>{{ provider.shortDescription }}</td>
      </tr>
    </tbody>
  </table>
  <a [routerLink]="'dashboard'" class="btn btn-primary m-1"
    >BACK TO DASHBOARD</a
  >
  <button (click)="updatePaymentProviders()" class="btn btn-primary">
    UPDATE PAYMENT PROVIDERS
  </button>
</div>

<!-- In case there is no product -->
<div
  *ngIf="!paymentProviders || paymentProviders.length == 0"
  class="text-info mt-4 text-center"
>
  <h5>There are no payment providers!</h5>
  <p>
    Please update payment providers list
  </p>
  <a [routerLink]="'dashboard'" class="btn btn-primary m-1"
    >BACK TO DASHBOARD</a
  >
  <button (click)="updatePaymentProviders()" class="btn btn-outline-dark">
    UPDATE PAYMENT PROVIDERS
  </button>
</div>

<!-- In case error occur during data retrieval from the API -->
<div class="text-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
