<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/iconfonts/ionicons/css/ionicons.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/iconfonts/typicons/src/font/typicons.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.addons.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/shared/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one"
        >
          <div class="row w-100" id="login">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4">Login</h2>
              <div class="auto-form-wrapper">
                <form
                  #loginForm="ngForm"
                  (ngSubmit)="loginUser(registeredUser)"
                >
                  <!-- Email Address field -->
                  <div
                    class="form-group"
                    [class.text-danger]="
                      emailControl.invalid && emailControl.touched
                    "
                    [class.text-success]="emailControl.valid"
                  >
                    <label class="email">Email</label>
                    <div class="input-group">
                      <input
                        [(ngModel)]="registeredUser.email"
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        [class.is-invalid]="
                          emailControl.invalid && emailControl.touched
                        "
                        [class.is-valid]="emailControl.valid"
                        required
                        #emailControl="ngModel"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                      <!-- Display errors to the end user -->
                      <span
                        class="form-text"
                        *ngIf="emailControl.invalid && emailControl.touched"
                      >
                        Valid email is required
                      </span>
                    </div>
                  </div>

                  <!-- Pasword field -->
                  <div
                    class="form-group"
                    [class.text-danger]="
                      passwordControl.invalid && passwordControl.touched
                    "
                    [class.text-success]="passwordControl.valid"
                  >
                    <label class="label">Password</label>
                    <div class="input-group">
                      <input
                        [(ngModel)]="registeredUser.password"
                        type="password"
                        class="form-control"
                        placeholder="Email"
                        name="password"
                        placeholder="*********"
                        [class.is-invalid]="
                          passwordControl.invalid && passwordControl.touched
                        "
                        [class.is-valid]="passwordControl.valid"
                        required
                        #passwordControl="ngModel"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                      <!-- Display errors to the end user -->
                      <span
                        class="form-text"
                        *ngIf="
                          passwordControl.invalid && passwordControl.touched
                        "
                      >
                        Valid password is required
                      </span>
                    </div>
                  </div>
                  <span class="form-text text-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </span>

                  <!-- Submit button field -->
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-primary submit-btn btn-block"
                      [disabled]="loginForm.invalid"
                      class="btn btn-primary submit-btn btn-block"
                    >
                      Login
                    </button>

                    <!-- Loading image -->
                    <!-- <img
                      *ngIf="loading"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    /> -->
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <a href="#" class="text-small forgot-password text-black"
                      >Forgot Password</a
                    >
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block g-login">
                      <img
                        class="mr-3"
                        src="assets/images/file-icons/icon-google.svg"
                        alt=""
                      />Log in with Google
                    </button>
                  </div>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold"
                      >Not a member ?
                    </span>
                    <!-- [routerLink]="[register, returnUrl]" -->
                    <a
                      routerLink="/register"
                      [queryParams]="{ returnUrl: returnUrl }"
                      class="text-black text-small"
                      >Create new account
                    </a>
                  </div>
                </form>
              </div>
              <ul class="auth-footer">
                <li>
                  <a href="#">Conditions</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>
              </ul>
              <p class="footer-text text-center">
                copyright © 2018 Bootstrapdash. All rights reserved.
              </p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="assets/js/shared/off-canvas.js"></script>
    <script src="assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>
